.compare__container {
    display: flex;
    overflow: auto;
    min-width: 100%;
    min-height: 200px;
}

.compare__title {
    margin-bottom: 1rem;
    font-size: 1.3rem;
}

.compare__item {
    margin-bottom: .5rem;
    position: relative;
    min-width: 150px;
    overflow-x: auto;
}

.compare::-webkit-scrollbar {
    display: none;
}

.compare__traits-container {
    display:flex;
}

.compare__traits {
    font-size: .8rem;
    position: fixed;
    top: 16rem;
    display:none;
}

.compare__traits-item {
    border-bottom: 1px solid grey;
    padding: .5rem;
    flex-grow: 1;
}

.compare__traits-item--diff {
    background-color: lightgrey;
}

.compare__select {
    display:none;
}

.compare__img {
    width: 4rem;
}

.compare__name {
    font-size: .8rem;
    max-width:70%;
    margin:auto;
    margin-bottom: .5rem;
    color: #0E53C4;
    font-weight:700;
    min-height: 3.5rem;
}

.compare__price {
    font-weight: 700;
    margin-bottom:.5rem;
}

.compare__trash {
    width:1rem;
    position:absolute;
    right: 1rem;
    top:.5rem;
}

.compare__badge {
    width: 1.5rem;
}

@media only screen and (min-width: 768px) {
    .compare {
        text-align: left;
    }

    .compare__name {
        margin:0;
    }
    .compare__traits {
        display:block;
        position:relative;
        align-self: flex-end;
        top:0;
    }

}

